.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header-image.png') no-repeat;
    border-radius: 30px;
    background-size: contain;
    position: relative;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 24px);
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    background: #040404;
    color: whitesmoke;
    border: none;
    padding: 15px 20px;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 20px;
}

.header-contents button:hover {
    background: #494949;
    color: white;
}